<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/error.css" />
<%- include('../includes/head.ejs') %>

</head>
<body>
  <img class="background" src="/images/background@2x.jpg" alt="" />

  <%- include('../includes/navigation.ejs') %>
    
    <!-- MAIN CONTENT -->
    <main>
      <div class="container cart-products-list margin-bottom-md">
        <!-- CARD -->
        <ul>
          <li class="cart-products-container card card--linear margin-bottom-md">
            <div class="cart-product-details">
              <p class="product-title">Lorem ipsum dolor</p>
              <p class="product-price"><span>Quantity: </span>1</p>
            </div>
            <form action="/checkout" method="get">
              <button class="submit-btn delete">Delete</button>
            </form>
          </li>
        </ul>
      </div>
      <div class="checkout margin-bottom-sm">
        <p class="product-price"><span>Total: $</span>1433.44</p>
        <form action="/checkout" method="get">
          <button class="submit-btn">Checkout</button>
        </form>
        
<%- include('../includes/end.ejs') %>