<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/error.css" />
<%- include('../includes/head.ejs') %>

</head>
<body>
  <img class="background" src="/images/background@2x.jpg" alt="" />

  <%- include('../includes/navigation.ejs') %>
    
    <!-- MAIN CONTENT -->
    <main>
      <div class="container cart-products-list margin-bottom-md">
        <!-- CARD GRID -->
        <div
          class="orders-product-container card card--linear margin-bottom-md"
        >
          <div class="orders-product-header">
            <p class="product-title">Order - # 633b0742e093f6ee81d37622</p>
            <form action="/checkout" method="get">
              <button class="submit-btn">Get Invoice</button>
            </form>
          </div>

          <ul class="orders-product-list">
            <li><p class="product-price">Lorem Ipsum (3)</p></li>
            <li><p class="product-price">Lorem Ipsum Dolor (7)</p></li>
            <li><p class="product-price">Lorem Lorem Dipsum (4)</p></li>
          </ul>

          <p class="product-description">Date: 32/33/2332</p>
        </div>

        <div
          class="orders-product-container card card--linear margin-bottom-md"
        >
          <div class="orders-product-header">
            <p class="product-title">Order - # 633b0742e093f6ee81d37622</p>
            <form action="/checkout" method="get">
              <button class="submit-btn">Get Invoice</button>
            </form>
          </div>

          <ul class="orders-product-list">
            <li><p class="product-price">Lorem Ipsum (3)</p></li>
            <li><p class="product-price">Lorem Ipsum Dolor (7)</p></li>
            <li><p class="product-price">Lorem Lorem Dipsum (4)</p></li>
          </ul>

          <p class="product-description">Date: 32/33/2332</p>
        </div>

        <div
          class="orders-product-container card card--linear margin-bottom-md"
        >
          <div class="orders-product-header">
            <p class="product-title">Order - # 633b0742e093f6ee81d37622</p>
            <form action="/checkout" method="get">
              <button class="submit-btn">Get Invoice</button>
            </form>
          </div>

          <ul class="orders-product-list">
            <li><p class="product-price">Lorem Ipsum (3)</p></li>
            <li><p class="product-price">Lorem Ipsum Dolor (7)</p></li>
            <li><p class="product-price">Lorem Lorem Dipsum (4)</p></li>
          </ul>

          <p class="product-description">Date: 32/33/2332</p>
        </div>

        <div
          class="orders-product-container card card--linear margin-bottom-md"
        >
          <div class="orders-product-header">
            <p class="product-title">Order - # 633b0742e093f6ee81d37622</p>
            <form action="/checkout" method="get">
              <button class="submit-btn">Get Invoice</button>
            </form>
          </div>

          <ul class="orders-product-list">
            <li><p class="product-price">Lorem Ipsum (3)</p></li>
            <li><p class="product-price">Lorem Ipsum Dolor (7)</p></li>
            <li><p class="product-price">Lorem Lorem Dipsum (4)</p></li>
          </ul>

          <p class="product-description">Date: 32/33/2332</p>
        </div>
        
<%- include('../includes/end.ejs') %>