
  <link rel="stylesheet" href="/css/forms.css" />
  <!-- MY SCRIPT -->
  <script src="/js/main.js" defer></script>
<%- include('../includes/head.ejs') %>
</head>
<body>
  <img class="background" src="/images/background@2x.jpg" alt="" />
  <div class="sphere1"></div>
  <div class="sphere2"></div>
  <div class="sphere3"></div>
  <div class="sphere4"></div>

  <%- include('../includes/navigation.ejs') %>

  <main>
    <div class="container">
      <!-- <p class="error-message">Lorem ipsum dolor amet.</p> -->
      <form
        action="/admin/add-product"
        method="POST"
        class="form-control grid grid--2-cols"
      >
        <div class="inputs">
          <input type="text" name="title" placeholder="Enter product title" />
          <input
            type="number"
            name="price"
            placeholder="Enter product price"
            step="0.01"
          />
          <textarea
            name="description"
            rows="10"
            placeholder="Enter product description."
          ></textarea>
          <button class="submit-btn" type="submit">Add Product</button>
        </div>

        <div class="image-selection">
          <label for="file">
            <div class="img-container card">
              <p class="img-icon"><i class="fa-solid fa-image"></i></p>
              <p>Click here to add your image</p>
            </div>
          </label>
          <input type="file" name="img" id="file" class="img-input" />
        </div>
      </form>
 <%- include('../includes/end.ejs') %> 